<header class="header">
  <!-- Sidebar -->
  <div id="sidebar" class="sidebar">

    <!-- Sidebar navigation -->
    <nav class="sidebar__navigation">

      <!-- Navigation links -->
      <ul class="nav-list">

        <!-- Navigation item -->
        <li class="nav-list__item">

          <!-- Navigation link -->
          <a class="nav-list__link" href="#">Стоматологія в USA та CAN</a>
        </li>

        <!-- Navigation item -->
        <li class="nav-list__item">

          <!-- Navigation link -->
          <a class="nav-list__link" href="#">Послуги</a>
        </li>

        <!-- Navigation item -->
        <li class="nav-list__item">

          <!-- Navigation link -->
          <a class="nav-list__link" href="#">Лікарі</a>
        </li>

        <!-- Navigation item -->
        <li class="nav-list__item">

          <!-- Navigation link -->
          <a class="nav-list__link" href="#">Ціни</a>
        </li>

        <!-- Navigation item -->
        <li class="nav-list__item">

          <!-- Navigation link -->
          <a class="nav-list__link" href="#">Про нас</a>
        </li>

        <!-- Navigation item -->
        <li class="nav-list__item">

          <!-- Navigation link -->
          <a class="nav-list__link" href="#">Контакти</a>
        </li>
      </ul>

      <!-- Social links -->
      <div class="sidebar__navigation__social-links mt-5">

        <!-- Facebook link -->
        <a href="https://www.facebook.com/people/Parodent-Parodent/pfbid0TRZPXFyPceFoS2KeQXL4EprEN4QZqxDKDMZzzwEkDtyNw9y2h8h2HCT9o1JzkyVVl/"
          target="_blank">
          <img src="../img/facebook-link.png" alt="facebook icon" />
        </a>

        <!-- Instagram link -->
        <a href="https://www.instagram.com/_parodent_/" target="_blank">
          <img src="../img/instagram-link.png" alt="instagram icon" />
        </a>
      </div>
    </nav>
  </div>

  <!-- Toggle for sidebar -->
  <div class="burger-wrapper">
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Header logo -->
  <div class="logo">
    <a href="#">
      <img src="../img/logo.svg.svg" alt="logo name" class="logo__name" />
      <span class="logo__network-of-dentists">Мережа стоматологій</span>
    </a>
  </div>

  <!-- Navigation -->
  <nav class="header__navigation">
    <ul class="header-list">
      <li class="header-list__item"><a class="header-list__link" href="#">Стоматологія в USA та CAN</a></li>
      <li class="header-list__item"><a class="header-list__link" href="#">Послуги</a></li>
      <li class="header-list__item"><a class="header-list__link" href="#">Лікарі</a></li>
      <li class="header-list__item"><a class="header-list__link" href="#">Ціни</a></li>
      <li class="header-list__item"><a class="header-list__link" href="#">Про нас</a></li>
      <li class="header-list__item"><a class="header-list__link" href="#">Галерея робіт</a></li>
      <li class="header-list__item"><a class="header-list__link" href="#">Контакти</a></li>
    </ul>
    <button class="styled-btn header__online-registration-btn">
      Запис онлайн
      <div class="styled-btn__bottom-line--red"></div>
    </button>
  </nav>

  <!-- Select Parodent place -->
  <details id="select-parodent" class="custom-select">
    <summary class="radios">
      <input type="radio" name="Address" id="default" title="Виберіть Parodent" checked />
      <input type="radio" name="Address" id="address1" title="м.Львів, вул.Шевченка, 87А" />
      <input type="radio" name="Address" id="address2" title="м.Львів, вул.Личаківська, 52" />
      <input type="radio" name="Address" id="address3" title="м.Львів, вул.Скорика, 29" />
      <input type="radio" name="Address" id="address4" title="м.Львів, вул.Глибока, 4" />
      <input type="radio" name="Address" id="address5" title="м.Львів, пр-т.Червоної Калини, 85a" />
      <input type="radio" name="Address" id="address6" title="Parodent USА" />
      <input type="radio" name="Address" id="address7" title="Parodent CAN" />
    </summary>

    <ul class="select-address-styled header__select-address">
      <li onclick="choosePPlace(1)">
        <label for="address1" onclick="closeSelect()">
          м.Львів, вул.Шевченка, 87А
        </label>
      </li>

      <li>
        <label for="address2" onclick="closeSelect()">м.Львів, вул.Личаківська, 52</label>
      </li>

      <li>
        <label for="address3" onclick="closeSelect()">м.Львів, вул.Скорика, 29</label>
      </li>

      <li>
        <label for="address4" onclick="closeSelect()">м.Львів, вул.Глибока, 4</label>
      </li>

      <li>
        <label for="address5" onclick="closeSelect()">м.Львів, пр-т.Червоної Калини, 85a
          <span class="select-address__phone-number">+38 (067) 000 21 87</span>
          <span class="select-address__phone-number">+38 (044) 334 41 00</span>
        </label>
      </li>

      <li>
        <label for="address6" onclick="closeSelect()">Parodent USА
          <span class="select-address__phone-number">+1 (623) 398 68 08</span>
        </label>
      </li>

      <li onclick="closeSelect()">
        <label for="address7" onclick="closeSelect()">Parodent CAN
          <span class="select-address__phone-number">416-201-4440</span>
        </label>
      </li>
    </ul>
  </details>
</header>

<script src="../js/header.js"></script>